* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul {
  list-style: none;
}
.contact {
  background-color: rgba(240, 102, 127, 0.05);
  padding-bottom: 4rem;
  text-align: center;

  h1 {
    padding-top: 2rem;
    margin-bottom: 0.7rem;
  }
}
.form {
  width: 80%;
  max-width: 600px;
  margin: 2rem auto;
  padding: 2rem 1.5rem;
  -webkit-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.6);
  box-shadow: 3px 3px 10px 0px rgba(0, 0, 0, 0.6);
  border-radius: 10px;
  background-color: white;

  .input-container {
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    margin-bottom: 1rem;

    label {
      text-align: left;
      padding-left: 1rem;
      margin-bottom: 0.4rem;
    }

    .inputs {
      display: flex;
      flex-wrap: wrap;
      input {
        flex: 1;
        flex-basis: 210px;
        margin-bottom: 0.2rem;
      }
    }
  }
  button {
    background-color: #f0667f;
    color: white !important;
    border: none;
    outline: none;
    border-radius: 3px;
    padding: 0.5rem 1.5rem;
    cursor: pointer;
    margin-top: 1rem;
    // font-size: 1rem;
    // font-weight: 700;
  }
  input,
  textarea {
    padding: 0.6rem 1.2rem;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 100px;
    background: transparent;
  }
  textarea {
    border-radius: 8px;
  }
}
@media screen and (max-width: 500px) {
  .form {
    width: initial;
    margin: 1.2rem;
  }
}
